@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --dark-grey: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

@media screen and (max-width: 899px) {
  .image .desktop {
    display: none;
  }
}

html,
body {
  background-color: hsl(30, 38%, 92%);
  height: 100%;
}

p {
  size: 14px;
  line-height: 2;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.container {
  background-color: var(--white);
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  max-width: 500px;
  margin: 1rem;
}

.image img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.text {
  padding: 2rem;
}

.item-type {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
  color: var(--dark-grey);
}

.item-name {
  font-family: "Fraunces", serif;
  font-size: 2.3rem;
  color: var(--dark-blue);
  margin: 1rem 0;
}

.item-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--dark-grey);
  margin-bottom: 4rem;
}

.prices {
  display: grid;
  margin: 1rem 0;
  align-items: center;
}

.sale-price {
  font-family: "Fraunces", serif;
  color: var(--dark-cyan);
  grid-column: 1;
}

.list-price {
  font-family: "Montserrat", sans-serif;
  color: var(--dark-grey);
  text-decoration: line-through;
  grid-column: 2;
}

.add-to-cart {
  background-color: var(--dark-cyan);
  color: var(--white);
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.add-to-cart:hover {
  background-color: hsl(158, 36%, 20%);
}

.icon {
  padding-right: 1rem;
}

@media screen and (min-width: 700px) {
  .image .desktop {
    display: block;
  }

  .image .mobile {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 700px;
  }

  .image {
    grid-column: 1;
    height: 100%;
  }

  .image img {
    border-radius: 10px 0px 0px 10px;
    height: 100%;
  }

  .text {
    grid-column: 2;
  }
}
